body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #ffd700;
}

.section-title {
  text-align: center;
  margin-top: 40px;
  font-size: 32px;
  color: #ffd700;
}
